*{
    margin: 0px;
    padding: 0px;
}
#content{
    text-align: center;
}

#card{
    width: 400px;
    height: 400px;
}
.info{
    width: 400px;
    height: 200px;
    background-color: orange;
}

#figure{
   width: 400px;
   height: 200px;
}
#figure>img{
    width: 100%;
    height: 100%;
}